In [1]:
# List of High Schools
high_schools = ["Hernandez HS", "Figueroa HS", "Wilson HS", "Wright HS"]
for school in high_schools:
    print(school)

Hernandez HS
Figueroa HS
Wilson HS
Wright HS

In [2]:
# A dictionary of high schools and the type of schools
high_school_types = [{"High School": "Griffin", "Type":"District"}, {"High School": "Figueroa", "Type": "District"}, {"High School": "Wilson", "Type": "Charter"}, {"High School": "Wright", "Type": "Charter"}]
print(high_school_types)

[{'High School': 'Griffin', 'Type': 'District'}, {'High School': 'Figueroa', 'Type': 'District'}, {'High School': 'Wilson', 'Type': 'Charter'}, {'High School': 'Wright', 'Type': 'Charter'}]

In [3]:
# list of high schools
high_schools = ["Huang HS", "Figueroa HS", "Shelton HS", "Hernandez HS", "Griffin HS", "Wilson HS", "Cabrera HS", "Bailey HS", "Holden HS", "Pend HS", "Wright HS", "Rodrigues HS", "Johnson HS", "Ford HS", "Thomas HS"]

In [4]:
import pandas as pd

In [5]:
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang HS
1      Figueroa HS
2       Shelton HS
3     Hernandez HS
4       Griffin HS
5        Wilson HS
6       Cabrera HS
7        Bailey HS
8        Holden HS
9          Pend HS
10       Wright HS
11    Rodrigues HS
12      Johnson HS
13         Ford HS
14       Thomas HS
dtype: object

In [6]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "School Name": "Huang HS", "School Type": "District"}, {"School ID": 1, "School Name": "Figueroa HS", "School Type": "District"}, {"School ID": 2, "School Name": "Shelton HS", "School Type": "Charter"}, {"School ID": 3, "School Name": "Hernandez HS", "School Type": "District"}, {"School ID": 4, "School Name": "Griffin HS", "School Type": "Charter"}]

In [7]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID   School Name School Type
0          0      Huang HS    District
1          1   Figueroa HS    District
2          2    Shelton HS     Charter
3          3  Hernandez HS    District
4          4    Griffin HS     Charter

In [8]:
# Three seperate lists of information on high schools
school_id = [0, 1, 2, 3, 4]
school_name = ["Huang HS", "Figueroa HS", "Shelton HS", "Hernandez HS", "Griffin HS"]
type_of_school = ["District", "District", "Charter", "District", "Charter"]

In [9]:
# Initialize a new DataFrame
schools_df = pd.DataFrame()

In [10]:
# Add the list to a new DataFrame
schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school

# Print the DataFrame
schools_df

   School ID   School Name Type of School
0          0      Huang HS       District
1          1   Figueroa HS       District
2          2    Shelton HS        Charter
3          3  Hernandez HS       District
4          4    Griffin HS        Charter

In [11]:
schools_df.columns

Index(['School ID', 'School Name', 'Type of School'], dtype='object')

In [12]:
schools_df.index

RangeIndex(start=0, stop=5, step=1)

In [13]:
schools_df.values

array([[0, 'Huang HS', 'District'],
       [1, 'Figueroa HS', 'District'],
       [2, 'Shelton HS', 'Charter'],
       [3, 'Hernandez HS', 'District'],
       [4, 'Griffin HS', 'Charter']], dtype=object)