In [1]:
# Add the pandas dependency
import pandas as pd
import os

In [2]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
school_data_to_save = os.path.join("Resources","students_complete.csv")

In [3]:
# Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [5]:
# Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(school_data_to_save)
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,99,99
1,1,Victor Smith,M,12th,Huang High School,99,99
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99
3,3,Dr. Richard Scott,M,12th,Huang High School,99,99
4,4,Bonnie Ray,F,9th,Huang High School,99,99
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,63,55
39166,39166,Dawn Bell,F,10th,Thomas High School,63,55
39167,39167,Rebecca Tanner,F,9th,Thomas High School,63,55
39168,39168,Desiree Kidd,F,10th,Thomas High School,63,55
39169,39169,Carolyn Jackson,F,11th,Thomas High School,63,55

In [6]:
# Detemine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ","Mr. ","Ms. ","Mrs. ", "Miss ", "MD", "DDS", "DVM", "PhD"]

In [8]:
# Iterate through the word in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "", regex = False)

In [9]:
# combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635

In [10]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [11]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [12]:
# Calculate the total number of school
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [13]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [14]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [15]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [16]:
# Assigning passing math and reading grades
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [17]:
# Get all the students who are passing math.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635

In [18]:
# Get all the students who are passing reading.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635

In [19]:
# Calculate the number of students passing math
passing_math_count = passing_math["student_name"].count()
passing_math_count

29370

In [20]:
# Calculate the number of students passing reading
passing_reading_count = passing_reading["student_name"].count()
passing_reading_count

33610

In [21]:
# Get the % of students who passed math
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [22]:
# Get the % of students who passed reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [23]:
# Calculate the students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
29241,29241,Lindsey Morris,F,11th,Rodriguez High School,70,70,11,District,3999,2547363
29242,29242,Misty Wood,F,9th,Rodriguez High School,70,70,11,District,3999,2547363
29243,29243,Julie Lawrence,F,10th,Rodriguez High School,70,70,11,District,3999,2547363
29244,29244,Jeffrey Everett,M,10th,Rodriguez High School,70,70,11,District,3999,2547363
29245,29245,Michael Jenkins,M,12th,Rodriguez High School,70,70,11,District,3999,2547363

In [24]:
# Calculate the number of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [25]:
# Calculate the overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [26]:
# Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
      "Total Student": student_count,
      "Total budget": total_budget,
      "Average Math Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": passing_math_percentage,
      "% Passing Reading": passing_reading_percentage,
      "% Overall Passing": overall_passing_percentage
     }])
district_summary_df

,Total Schools,Total Student,Total budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [27]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

KeyError: 'Total Students'

In [28]:
# Format "Total Budget" to have the coma for a thousands seperator, a decimal seperator, and a "$"
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df

KeyError: 'Total Budget'

In [30]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

ValueError: Unknown format code 'f' for object of type 'str'

In [31]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

KeyError: "['Total Students', 'Total Budget'] not in index"

In [ ]:
# Define a function that calculate the percentage of studetns that passed math and reading, and prints the passing percentage to the output when the function is called
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [ ]:
# Call the function
passing_math_percent(passing_math_count, student_count)

In [ ]:
# A list of my grades
my_grades = ['B', 'C', 'B', 'D']

In [ ]:
# Covert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

In [ ]:
# map("current_value_1":"new_value_1", "current_value_1":"new_value_2", etc)
my_grades.map({'B':'A','C':'B','D':'C'})

In [ ]:
# USe the format() function
my_grades =[92.34, 84.56, 86.78, 98.32]

for grades in my_grades:
    print("{:.0f}".format(grades))

In [ ]:
# Convert the numerical grade to a Series
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

In [ ]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)