In [1]:
# Add the pandas dependency
import pandas as pd
import os

In [2]:
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
school_data_to_save = os.path.join("Resources","students_complete.csv")

In [3]:
# Read the school data file and store it in a Pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [4]:
# Determine if there are any missing values in the school data.
school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [5]:
# Read the student data file and store it in a Pandas DataFrame
student_data_df = pd.read_csv(school_data_to_save)
student_data_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,99,99
1,1,Victor Smith,M,12th,Huang High School,99,99
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99
3,3,Dr. Richard Scott,M,12th,Huang High School,99,99
4,4,Bonnie Ray,F,9th,Huang High School,99,99
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,63,55
39166,39166,Dawn Bell,F,10th,Thomas High School,63,55
39167,39167,Rebecca Tanner,F,9th,Thomas High School,63,55
39168,39168,Desiree Kidd,F,10th,Thomas High School,63,55
39169,39169,Carolyn Jackson,F,11th,Thomas High School,63,55

In [6]:
# Detemine if there are any missing values in the student data.
student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [7]:
# Add each prefix and suffix to remove to a list.
prefixes_suffixes = ["Dr. ","Mr. ","Ms. ","Mrs. ", "Miss ", "MD", "DDS", "DVM", "PhD"]

In [8]:
# Iterate through the word in the "prefixes_suffixes" list and replace them with an empty space, "".
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "", regex = False)

In [9]:
# combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635

In [10]:
# Get the total number of students.
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [11]:
# Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [12]:
# Calculate the total number of school
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [13]:
# Calculate the total budget
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [14]:
# Calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [15]:
# Calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [16]:
# Assigning passing math and reading grades
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [17]:
# Get all the students who are passing math.
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635

In [18]:
# Get all the students who are passing reading.
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635

In [19]:
# Calculate the number of students passing math
passing_math_count = passing_math["student_name"].count()
passing_math_count

29370

In [20]:
# Calculate the number of students passing reading
passing_reading_count = passing_reading["student_name"].count()
passing_reading_count

33610

In [21]:
# Get the % of students who passed math
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [22]:
# Get the % of students who passed reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [23]:
# Calculate the students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
passing_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
29241,29241,Lindsey Morris,F,11th,Rodriguez High School,70,70,11,District,3999,2547363
29242,29242,Misty Wood,F,9th,Rodriguez High School,70,70,11,District,3999,2547363
29243,29243,Julie Lawrence,F,10th,Rodriguez High School,70,70,11,District,3999,2547363
29244,29244,Jeffrey Everett,M,10th,Rodriguez High School,70,70,11,District,3999,2547363
29245,29245,Michael Jenkins,M,12th,Rodriguez High School,70,70,11,District,3999,2547363

In [24]:
# Calculate the number of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528

In [25]:
# Calculate the overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [26]:
# Adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
    [{"Total Schools": school_count,
      "Total Students": student_count,
      "Total Budget": total_budget,
      "Average Math Score": average_math_score,
      "Average Reading Score": average_reading_score,
      "% Passing Math": passing_math_percentage,
      "% Passing Reading": passing_reading_percentage,
      "% Overall Passing": overall_passing_percentage
     }])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [27]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [28]:
# Format "Total Budget" to have the coma for a thousands seperator, a decimal seperator, and a "$"
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [29]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [30]:
# Reorder the columns in the order you want them to appear.
new_column_order = ["Total Schools", "Total Students", "Total Budget","Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# Assign district summary df the new column order.
district_summary_df = district_summary_df[new_column_order]
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [31]:
# Determine the school type
per_school_types = school_data_df.set_index(["school_name"])["type"]
per_school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [32]:
# Add the per_school_types into a Dataframe for testing
df = pd.DataFrame(per_school_types)
df

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [33]:
# Calculate the total student count
per_school_counts = school_data_df.set_index(["school_name"])["size"]
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [34]:
# Calculate total student count
per_school_counts = school_data_complete_df["school_name"].value_counts()
per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [35]:
# Calculate the total school budget.
per_school_budget = school_data_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [36]:
# Calculate the per capita spending
per_school_capita = per_school_budget / per_school_counts
per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [37]:
# Calculate the math scores
student_school_math = student_data_df.set_index(["school_name"])["math_score"]
student_school_math

school_name
Huang High School     99
Huang High School     99
Huang High School     99
Huang High School     99
Huang High School     99
                      ..
Thomas High School    55
Thomas High School    55
Thomas High School    55
Thomas High School    55
Thomas High School    55
Name: math_score, Length: 39170, dtype: int64

In [38]:
# Calculate the average math score
per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()
per_school_averages

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,82.117363,78.671423,7.0,4976.0,3124928.0
Cabrera High School,16941.5,81.820775,82.184069,6.0,1858.0,1081356.0
Figueroa High School,4391.0,82.020007,94.981689,1.0,2949.0,1884411.0
Ford High School,36165.0,80.997809,59.556773,13.0,2739.0,1763916.0
Griffin High School,12995.5,80.670981,86.198229,4.0,1468.0,917500.0
Hernandez High School,9944.0,82.603236,89.332686,3.0,4635.0,3022020.0
Holden High School,23060.0,79.213115,76.000000,8.0,427.0,248087.0
Huang High School,1458.0,82.015770,98.007542,0.0,2917.0,1910635.0
Johnson High School,32415.0,81.081495,65.629490,12.0,4761.0,3094650.0
Pena High School,23754.5,81.918919,75.189189,9.0,962.0,585858.0
Rodriguez High School,28035.0,82.144286,70.837709,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.585463,92.558773,2.0,1761.0,1056600.0
Thomas High School,38352.0,79.371254,55.940673,14.0,1635.0,1043130.0
Wilson High School,14871.0,82.926413,84.206307,5.0,2283.0,1319574.0
Wright High School,25135.5,82.674444,73.750556,10.0,1800.0,1049400.0

In [39]:
# Calculate the average test score
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
per_school_math

school_name
Bailey High School       78.671423
Cabrera High School      82.184069
Figueroa High School     94.981689
Ford High School         59.556773
Griffin High School      86.198229
Hernandez High School    89.332686
Holden High School       76.000000
Huang High School        98.007542
Johnson High School      65.629490
Pena High School         75.189189
Rodriguez High School    70.837709
Shelton High School      92.558773
Thomas High School       55.940673
Wilson High School       84.206307
Wright High School       73.750556
Name: math_score, dtype: float64

In [40]:
# Calculate the passing score by creating a filterd DataFrame
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]
per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]
per_school_passing_math[0:10]

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,99,99,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,99,99,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,99,99,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,99,99,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,99,99,0,District,2917,1910635

In [41]:
# Calculate the number of students passing math and passing reading by school
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]
per_school_passing_math

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Pena High School          962
Rodriguez High School    3334
Shelton High School      1761
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [42]:
# Calculate the percentage of passing math and reading scores per school.
per_school_passing_math = per_school_passing_math / per_school_counts * 100
per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
per_school_passing_math

Bailey High School       100.000000
Cabrera High School      100.000000
Figueroa High School     100.000000
Ford High School                NaN
Griffin High School      100.000000
Hernandez High School    100.000000
Holden High School       100.000000
Huang High School        100.000000
Johnson High School             NaN
Pena High School         100.000000
Rodriguez High School     83.370843
Shelton High School      100.000000
Thomas High School              NaN
Wilson High School       100.000000
Wright High School       100.000000
dtype: float64

In [43]:
# Calculate the students who passed both math and reading.
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]
per_passing_math_reading.head()
per_passing_math_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,99,99,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,99,99,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,99,99,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,99,99,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,99,99,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
29241,29241,Lindsey Morris,F,11th,Rodriguez High School,70,70,11,District,3999,2547363
29242,29242,Misty Wood,F,9th,Rodriguez High School,70,70,11,District,3999,2547363
29243,29243,Julie Lawrence,F,10th,Rodriguez High School,70,70,11,District,3999,2547363
29244,29244,Jeffrey Everett,M,10th,Rodriguez High School,70,70,11,District,3999,2547363
29245,29245,Michael Jenkins,M,12th,Rodriguez High School,70,70,11,District,3999,2547363

In [44]:
# Calculate the number of students who passed both math and reading.
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]
per_passing_math_reading

school_name
Bailey High School       4332
Cabrera High School      1616
Figueroa High School     2552
Griffin High School      1238
Hernandez High School    4009
Holden High School        427
Huang High School        2517
Pena High School          842
Rodriguez High School    2814
Shelton High School      1630
Wilson High School       2010
Wright High School       1541
Name: student_name, dtype: int64

In [45]:
# Define a function that calculate the percentage of studetns that passed math and reading, and prints the passing percentage to the output when the function is called
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [46]:
# Call the function
passing_math_percent(passing_math_count, student_count)

74.9808526933878

In [47]:
# A list of my grades
my_grades = ['B', 'C', 'B', 'D']

In [48]:
# Covert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [49]:
# map("current_value_1":"new_value_1", "current_value_1":"new_value_2", etc)
my_grades.map({'B':'A','C':'B','D':'C'})

0    A
1    B
2    A
3    C
dtype: object

In [50]:
# USe the format() function
my_grades =[92.34, 84.56, 86.78, 98.32]

for grades in my_grades:
    print("{:.0f}".format(grades))

92
85
87
98

In [51]:
# Convert the numerical grade to a Series
my_grades = pd.Series([92.34, 84.56, 86.78, 98.32])
my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [52]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object